In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.14.0)

WARNING: You are using pip version 20.3.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\programdata\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
import nltk
import pandas as pd

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Mahi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
fake=pd.read_csv('Fake.csv')
genuine=pd.read_csv('True.csv')

In [5]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 367.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 334.7+ KB

None

In [6]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [8]:
fake['target']=0
genuine['target']=1

In [9]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [10]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [11]:
data=pd.concat([fake,genuine],axis=0)

In [12]:
data=data.reset_index(drop=True)

In [13]:
data=data.drop(['subject','date','title'],axis=1)

In [14]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [15]:
#Tokenization
from nltk.tokenize import word_tokenize

In [16]:
data['text']=data['text'].apply(word_tokenize)

In [17]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [18]:
#Stemming
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english",ignore_stopwords=False)

In [19]:
def stem_it(text):
    d=[porter.stem(word) for word in text]
    return d

In [20]:
data['text']=data['text'].apply(stem_it)

In [21]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

In [22]:
#Stopword removal
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mahi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [23]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [24]:
data['text']=data['text'].apply(stop_it)

In [25]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [26]:
data['text']=data['text'].apply(' '.join)

In [27]:
# Splitting up of data
import sklearn.model_selection as model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(data['text'],data['target'],test_size=0.25)
display(x_train.head())
display('\n')
display(y_train.head())

25676    washington reuter environment group the sierra...
34931    beij reuter china has close more than 13,000 w...
5295     everyon pay attent the 2016 presidenti elect r...
20669    this what look like when the toler left use vi...
14575    islam terror the issu with most american whi w...
Name: text, dtype: object

'\n'

25676    1
34931    1
5295     0
20669    0
14575    0
Name: target, dtype: int64

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize a TfidfVectorizer object: tfidf_vectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.7)

# Transform the training data: tfidf_train 
tfidf_train = tfidf_vectorizer.fit_transform(x_train)

# Transform the test data: tfidf_test 
tfidf_test = tfidf_vectorizer.transform(x_test)

In [29]:
print(tfidf_train)

  (0, 85004)	0.04463778174273032
  (0, 34405)	0.05702569553174759
  (0, 10514)	0.029112049126212097
  (0, 73908)	0.036356636878901984
  (0, 49236)	0.038949102917812686
  (0, 21583)	0.029760196500664318
  (0, 67777)	0.032769546344245795
  (0, 42517)	0.04885697892934444
  (0, 69510)	0.021606844234620625
  (0, 36069)	0.06125323653860702
  (0, 20058)	0.04890418024353879
  (0, 73819)	0.026672703721286647
  (0, 81455)	0.01920094278854667
  (0, 21607)	0.0448023949241415
  (0, 41148)	0.04127691938285249
  (0, 80950)	0.031982084176786156
  (0, 50305)	0.02761271661451784
  (0, 21473)	0.03365910094988009
  (0, 9291)	0.030626022002693768
  (0, 37963)	0.01355756174615588
  (0, 77818)	0.016850237631406
  (0, 81344)	0.017229307267790518
  (0, 61542)	0.06460453886479371
  (0, 78571)	0.03429098588949205
  (0, 48640)	0.03388109559988533
  :	:
  (33672, 88650)	0.04193943129343599
  (33672, 81544)	0.01836134803911542
  (33672, 33573)	0.051908131016410335
  (33672, 81625)	0.03280388507828909
  (33672, 88869)	0.02125961200513265
  (33672, 41766)	0.036313892321688364
  (33672, 22577)	0.17344757940894368
  (33672, 31841)	0.12798308419580168
  (33672, 78955)	0.11506859750283682
  (33672, 57362)	0.0473136216900752
  (33672, 73590)	0.08742828649982007
  (33672, 65220)	0.04076731174746062
  (33672, 65641)	0.03732944050779623
  (33672, 41433)	0.025331640949138572
  (33672, 39124)	0.01732003210582587
  (33672, 83469)	0.11614077227247363
  (33672, 22448)	0.07307551594816902
  (33672, 89026)	0.034000274544731195
  (33672, 33392)	0.06383979840429123
  (33672, 48476)	0.16788291924265328
  (33672, 37822)	0.01576387033560897
  (33672, 55482)	0.03292102006188366
  (33672, 25184)	0.03401007620383209
  (33672, 36402)	0.057166838591239305
  (33672, 69834)	0.01963091805670105

In [30]:
#logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [31]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1= accuracy_score(y_test,pred_1)
print(cr1*100)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

98.77951002227171

In [32]:
#PassiveAgressiveClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [33]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.59020044543429